.coveralls.yml
docs/_build/**
_build/**
cover
.coverage
neat-checkpoint-*
fitness_history.csv
speciation.csv
species_fitness.csv
.mypy_cache
*~
*.pyc
*.pyo
__pycache__/
*stats*.dat*

# pycharm cache folder
.idea/

examples/openai-lander/results/
examples/openai-walker/results/
examples/picture2d/*.bin
examples/picture2d/*.png
examples/picture2d/rendered/
venv

*.gv
*.svg
build
dist
neat_python.egg-info
neat_tb.egg-info/top_level.txt
neat_tb.egg-info/SOURCES.txt
neat_tb.egg-info/PKG-INFO
neat_tb.egg-info/dependency_links.txt
neat.egg-info/top_level.txt
neat.egg-info/SOURCES.txt
neat.egg-info/PKG-INFO
neat.egg-info/dependency_links.txt
